/* Cabeça */
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url('imagens/img1.jpg');
    background-size: 100%;
}

.menu-principal {
    width: 100%;
    background-color: rgb(4, 1, 19);
    height: 85px;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
    justify-content: space-between;
    
}

.logo {
    float: left;
    width: 100%;
    padding: 5px
}

.clima{
    margin-top: 20%;
    background-color: #00bac6;
    width: 500px;
    height: 200px;
}

.caixa{
    margin-left: 800%;
    margin-right: 0%;
}

h4{
    color: white;
    font-size: large;
    text-decoration:line-through red;
}




.redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    list-style: none;
}

.redes-sociais {
    width: 25%;
    float: right
}

.header-2 {
    background-color: rgb(4, 1, 19);
    width: 980px;
    margin: 0 auto;
}

.menu-urls {
    height: 80px;
    background-color:  rgb(4, 1, 19);

}

.menu ul li {
    display: inline-block;
    margin-left: 5px;
    color: aliceblue;
}

.menu ul li a:hover {
    color: #00bac6;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
}

.menu {
    width: 70%;
    float: left;
    margin-top: 10px;
}

.busca {
    width: 30%;
    float: right;
    text-align: center;
    margin-top: 10px;
    height: 25px;
}

.busca input {
    border-radius: 5px;
    height: 25px;
    margin-top: 10px;
    background-image: url('../imagens/Vector\ \(8\).png');
    background-repeat: no-repeat;
    background-position: 97%;
    border: 4px solid rgb(100, 4, 16);
    width: 300px;
}


.busca1 input {
    border-radius: 5px;
    background-repeat: no-repeat;
    border: 4px solid rgb(100, 4, 16);
    height: 20px;
    width: 200px;
}




.col-100 {
    width: 100%;
    float: left;
    position: relative;
    margin-top: 6px;
}

/*  */

/* meio */
.banner {
    height: 400px;
    width: 850px;
    max-width: 1000%;
    max-height: 500%;
    margin-top: 4%;
}

.produtos {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    padding-right: 12%;
    padding-left: 13%;
}






.inputBox {
    position: relative;
}


.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.box {
    color: white;
    top: 50%;
    left: 50%;
    background-color: rgba(3, 7, 8, 0.514);
    padding: 15px;
    border-radius: 10px;
    width: 40%;
    margin: 0 auto;
    margin-top: 20%;
}









.produto p {
    background: rgba(5, 2, 2, 0.582);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px 10px;
}

.produto:hover img {
    opacity: 0.6;      
}
.produto img {
    display: block;
    
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}



/* showcase */

.showcase-container {
    margin-top: 100px;

}

#showcase .showcase-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}


.casa{
    width: 700px;

}


#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.068);
    background-blend-mode: color;
}

.fieldset {
    border: 4px solid rgb(95, 2, 2);
}


/* Api fake */


.button{
    background-color:  purple;
    color: white;
	border-style: outset;
	border-color: #f9f9f9;
    font-size: larger;
	height: 40px;
	width: 90px;
	font: bold 15px arial,sans-serif;
	text-shadow: none;
    margin: 3px;
    font-style: italic;
    border-radius: 1ch;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.button2{
    background-color: purple;
    color: white;
	text-shadow: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    margin: 3px;
    padding: 5px;
    border-radius: 3vh;
    width: 80px;
    cursor: pointer;
}


.button2:hover {
    transform: scale(1.1);
}

.button2  {
    transition: 500ms linear; 
}

.border2:hover
{
        box-shadow: inset 0 0 0 25px #0606078e;
}




.caixa{
    margin-top: 10%;
    margin: 10px;
}


.button:hover {
    opacity: 0.5;
}

.button:hover {
    transform: scale(1.1);
}

.button  {
    transition: 500ms linear; 
}

.border:hover
{
        box-shadow: inset 0 0 0 25px #0606078e;
}


.showcase-container1 {
    margin-top: 100px;
}
#showcase1 .showcase-container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#showcase1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.068);
    background-blend-mode: color;
}

form{
    justify-content:center;
    margin: 7px;
}

#resenha{
    text-align: justify;
}








/* Rodapé */
#footer {
    background: rgb(4, 1, 19);
    margin-top: 20%;
    display: block;

}

#footer .footer-content {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 80px 0;
    margin-top: 40px;
    margin: 0 auto;
    width: 980px;
}

#footer .footer-content .footer-menu {
    margin: 0 40px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
    margin: 25px 0;
    margin-top: 10%;
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #909496;
    font-size: 0.9rem;
}

.footer-content ul li a {
    color: white;
    text-decoration: none;
}

.footer-content ul li a:hover {
    color: #00bac6;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
}

.footer-menu img{
    margin-top: 80px;
    margin-left: 190px;
}


.busca2{
    border: solid 2px purple ;
    padding: 3px;
    border-radius: 3ch;
}

legend{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: rgb(248, 99, 248);
}


.ordem{
    display: flex;
    align-items: center;
    margin-top: 15%;
    margin-left: 13%;
}
/* 
.ordem{
    display: flex;
    margin-top: 20%;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: initial;
   
} */



.ordem2{
    margin: 50px;
    justify-content: space-between;
}


img {
    border-radius: 7%;
    border: 5px;
}

#nome, #disco, #estilo, #preco{
    background-color: rgba(13, 15, 15, 0.747);
    width: 350px;
    text-align: center;
    color: white;
}

#nome1, #disco1, #estilo1, #preco1{
    background-color: rgba(13, 15, 15, 0.747);
    width: 350px;
    text-align: center;
    color:white;
}

#nome2, #disco2, #estilo2, #preco2{
    background-color: rgba(13, 15, 15, 0.747);
    width: 350px;
    text-align: center;
    color: white;
}

#nome, #nome1,  #nome2{
    font-style: oblique;
    color: white;
    font-weight: bold;
    font-size: larger;
    text-decoration: overline purple solid 2px;
    background-color: #08080800;
}

.button3{
    width: 250px;
    margin-top: 5%;
    border-radius: 4ch;
    height: 50px;
    text-align: center;
    background: linear-gradient(to right, #e294f1,  purple,  #080808 );
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-left: 13%;
}


.button3:hover {
    opacity: 0.5;
}

.button3:hover {
    transform: scale(1.1);
}

.button3  {
    transition: 500ms linear; 
}

.border3:hover
{
        box-shadow: inset 0 0 0 25px #0606078e;
}

   
   

